<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Faucet for Cosmos SDK Blockchain</title>
    <link rel="icon" href="https://ping.pub/favicon.ico" />
    <meta name=”robots” content="index, follow">
    <meta name="description" content="Uniform Faucet Tool For Cosmos SDK Blockchains - Powered By Ping.pub">
    <meta></head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
      <main class="container-md">
        <div class="py-5 text-center">
          <img id="logo" class="d-block mx-auto mb-4" style="max-width: 250px;" src="<%= project.logo %>" :alt="`${testnet} Faucet`">
          <h1><%= project.name %></h1>
          <p class="lead">Dear, Cosmonauts! <br>
              Welcome to <%= project.name %>! Are you looking for some tokens to start? 
          </p>
        </div>
        <div class="row g-5">
          <div class="input-group">
              <span class="input-group-text">
                <select v-model="chain" @change="onChange()">
                  <option v-for="c in conf.blockchains">{{c}}</option>
                </select>
              </span>
              <input id="address" class="form-control" :placeholder="placeholder" v-model="address" name="address">
              <button type="button" class="btn btn-secondary d-flex flex-row " @click="requestToken(this)">
                <span>
                  <span id="button-loading" class="spinner-border spinner-border-sm mt-1 mr-1" style="display:none" role="status" aria-hidden="true"></span>
                </span>
               <span class="sr-only">Request Token</span>
              </button>
          </div>
        </div>
  
        <div id="message" v-html="message"></div>
  
      </main>
    
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="my-2"> Faucet Address: {{ faucet }}, <br> Balance: {{ balance.amount }} {{balance.denom}}</p>
        <p class="mb-1">&copy; 2022 Deployed By <%- project.deployer%></p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://github.com/ping-pub/faucet.git">Deploy a new instance?</a></li>
        </ul>
      </footer>
    </div>
    <script type="module">
      import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
      createApp({
        data() {
          return {
            message: '',
            testnet: 'Ping Testnet',
            logo: 'https://ping.pub/logo.svg',
            deployer: '',
            address: '',
            chain: '',
            conf: {},
            balance: {},
            ethAddr: '0xxxx',
          }
        },
        created() {
          fetch("/config.json").then(response => response.json()).then(data => {
            this.conf = data
            this.chain = data.blockchains[0]
            // this.placeholder = `Input an address (e.g.: ${data.sample[this.chain]}) to received tokens`
            this.onChange();
          });
        },
        computed: {
          placeholder() {
            if(this.conf.sample) {
              return `Input an address (e.g.: ${this.conf.sample[this.chain]}) to received tokens`
            } else {
              return 'Input an address to received tokens'
            }
          },
          faucet() {
            return this.conf.sample? this.conf.sample[this.chain] : ''
          }
        },
        methods: {
          onChange() {
            this.balance = {} // reset balance
            fetch(`/balance/${this.chain}`).then(r => r.json()).then(balance => {
              this.balance = balance
            })
          },
          requestToken(obj) {
            if (this.address) {
              // button state
              obj.disabled = true
              document.getElementById("button-loading").style.display = 'block';
              
              fetch(`/send/${this.chain}/${this.address}`).then(response => response.json()).then(data => {
                  // button state
                  obj.disabled = false
                  document.getElementById("button-loading").style.display = 'none';
                  // show result
                  this.message = `
                  <div class="alert alert-${data.result.code ===0? 'success': 'danger'} alert-dismissible show fade mt-2" role="alert">
                      <li>${data.result.code ===0? 'Token sent': 'Request failed'}</li>
                      <textarea class="form-control mt-1" rows="5" style="background-color:transparent">${JSON.stringify(data, null, 2)}</textarea>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  `
              });
            } else {
                this.message = '<span class="text-danger">Address is required</span>'
            }
          }
        }
      }).mount('#app')
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script>
    </script>
  </body>
</html>